.App {
  color: whitesmoke;
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: rgb(43, 43, 43);
  width: 100vw;
  height: 100vh;
}

.toolbar {
  background-color: rgb(43, 43, 43);
  display: flex;
  justify-content: space-evenly;
  place-items: center;
  height: 3vh;
}

.toolbar button {
  border-left: 1px solid #32363b;
}

.settingsBar {
  width: 100%;
}

.menuOption {
  display: flex;
  justify-content: space-evenly;
  background-color: #424242;
  width: fit-content;
  min-width: 100px;
  height: 100%;
  place-items: center;
  padding-left: 5px;
  padding-right: 5px;
  border-left: 1px solid #32363b;
  flex-grow: 1;
}

.tabBar {
  display: flex;
  height:4vh;
}

.dropZoneStyle {
  visibility: hidden;
  position: fixed;
  display: block;
  z-index: 1;
  top: 50%; 
  left: 40%;
  padding: 20px;
}

button {
  display: inline-block;
  border: none;
  padding: .25rem 1rem;
  margin: 0;
  text-decoration: none;
  background: #424242;
  color: whitesmoke;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 100%;
}

button:hover {
  filter: brightness(1.1);
}

.tab {
  width: auto;
  min-width: 150px;
  padding: .25rem 3rem;
  background: #131416;
  transition: .2s linear;
  border-right: 1px solid #32363b;
}

#tabButton {
  font-weight: bolder;
  background: #32363b;
}

.activeTab {
  background: #28292b;
}

input[type=text] {
  border: none;
  margin: 0;
  margin-left: 10px;
  min-width: 150px;
  background-color: rgba(255, 255, 255, .1);
  color: whitesmoke;
  outline: none;
  font-size: 1rem;
}

p {
  text-decoration: none;
  padding: none;
  margin: 0;
  margin-left: 10px;
  max-width: 200px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.tabTitle {
  display: flex;
  place-items: center;
}

#closeButton {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: fit-content;
  font-size: 50%;
  padding: 10px;
  transition: .2s linear;
  border-right: 1px solid #32363b;
  height: 100%;
}

.tab:hover #closeButton {
  display: block;
}

#closeButton:hover{
  background-color: rgb(73, 28, 28);
}
